@font-face {
    font-family: arial;
    src: url("../font/arial.ttf");
}
html{
    font-family:arial;
}
*{
    margin: 0;
}
.header_game {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: gold;
    height: 50px;
    padding: 0px 20px;
}

a {
    text-decoration: none;
    color: black;
}

.banner {
    background-image: url("../img/banner.jpg");
    background-position: center;
    background-size: 100% 160%;
    height: 300px;
    margin-bottom: 25px;
}

.brain_game {
    font-size: 30px;
}

select {
    border-style: none;
    outline: none;
    background-color: transparent;
    font-size: 30px;
}
.contain_allgame{
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 20px;
    gap: 20px;
}

.img_fruit {
    height: 90px;
    cursor: pointer;
}

.img_535 {
    height: 90px;
    cursor: pointer;
}

.img_637 {
    margin-top: 0px;
    height: 90px;
    cursor: pointer;
}

.img_5d {
    height: 90px;
    cursor: pointer;
}

.img_bingo {
    height: 90px;
    cursor: pointer;
}

.img_star5 {
    height: 90px;
    cursor: pointer;
}

.title {
    font-size: 40px;
    border-left: 5px solid goldenrod;
    padding-left: 10px;
    font-weight: 600;
    margin-left: 20px;
}

.footer_info_bar {
    width: 101%;
    background-color: antiquewhite;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.pro,
.sale,
.bunus,
.balen,
.res {
    font-size: 25px;
    margin: 10px 5px;
}

.footer_bar {
    display: flex;
    justify-content: space-around;
    background-color: gold;
    height: 50PX;
    padding: 10px;
    width: 100%;

}

.img_footer {
    height: 30px;
    cursor: pointer;
}

.title_game {
    font-size: 35px;
    text-align: center;
    font-weight: 600;
}

.title_footer {
    text-align: center;
    font-size: 17px;
}

.contain_allgame {
    padding: 20px;
}

.center {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.logo{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

@media(max-width: 1400px) {
    .brain_game {
        font-size: 30px;
    }

    select {
        font-size: 30px;
    }

    .title {
        font-size: 30px;
    }

    .banner {
        height: 300px;
    }

    .img_fruit,
    .img_535,
    .img_637,
    .img_5d,
    .img_bingo,
    .img_star5 {
        height: 100px;
    }

    .title_game {
        font-size: 28px;
    }
}

@media(max-width: 900px) {
    .brain_game {
        font-size: 20px;
    }

    select {
        font-size: 20px;
    }

    .title {
        font-size: 20px;
    }

    .banner {
        height: 250px;
    }

    .img_fruit,
    .img_535,
    .img_637,
    .img_5d,
    .img_bingo,
    .img_star5 {
        height: 80px;
    }

    .pro,
    .sale,
    .bunus,
    .balen,
    .res {
        font-size: 20px
    }

    .title_game {
        font-size: 25px;
    }
.footer_bar{
    position: fixed;
    bottom: 0;
}
.footer_info_bar{
    position: fixed;
    bottom: 70px;
    width: 100%;
}
}

@media(max-width: 660px) {
    .brain_game {
        font-size: 20px;
    }

    select {
        font-size: 20px;
    }

    .title {
        font-size: 20px;
    }

    .banner {
        height: 200px;
    }

    .img_fruit,
    .img_535,
    .img_637,
    .img_5d,
    .img_bingo,
    .img_star5 {
        height: 80px;
    }

    .pro,
    .sale,
    .bunus,
    .balen,
    .res {
        font-size: 20px
    }

    .title_game {
        font-size: 20px;
    }

    .contain_allgame {
        padding: 0px;
    }
}

@media(max-width: 480px) {
    .brain_game {
        font-size: 20px;
    }

    select {
        font-size: 20px;
    }

    .title {
        font-size: 20px;
    }

    .banner {
        height: 150px;
    }

    .img_fruit,
    .img_535,
    .img_637,
    .img_5d,
    .img_bingo,
    .img_star5 {
        height: 50px;
    }

    .pro,
    .sale,
    .bunus,
    .balen,
    .res {
        font-size: 18px
    }

    .title_game {
        font-size: 18px;
    }

    .logo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media(max-width: 380px) {
    .brain_game {
        font-size: 16px;
    }

    select {
        font-size: 16px;
    }

    .title {
        font-size: 16px;
    }

    .banner {
        height: 150px;
        background-size: 100% 110%;
    }

    .pro,
    .sale,
    .bunus,
    .balen,
    .res {
        font-size: 18px
    }

    .img_footer {
        height: 30px;
    }

    .title_footer {
        font-size: 17px;
    }
}